.prev-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/prev-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 805px;
}

.next-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/next-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 850px;
}

#bar {
    background: url(../images/bar.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 107px;
    height: 175px;
    left: 172px;
    top: 281px;
    position: absolute;
}

#line-1 {
    background: url(../images/line-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 154px;
    left: 142px;
    top: 263px;
    position: absolute;
    opacity: 0;
}

#line-2 {
    background: url(../images/line-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 154px;
    left: 142px;
    top: 263px;
    position: absolute;
    opacity: 0;
}

#line-3 {
    background: url(../images/line-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 154px;
    left: 142px;
    top: 263px;
    position: absolute;
    opacity: 0;
}

#line-4 {
    background: url(../images/line-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 154px;
    left: 142px;
    top: 263px;
    position: absolute;
    opacity: 0;
}

#line-5 {
    background: url(../images/line-5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
    height: 154px;
    left: 142px;
    top: 263px;
    position: absolute;
    opacity: 0;
}


/* 
.barUp1 {
    animation: barChange 0.5s forwards;
    animation-delay: 0.5s;
}

@keyframes barChange {
    from {
        transform: scaleX(0);
        opacity: 0;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
} */

.fadeIn1 {
    animation: fadeIn 0.5s forwards;
    animation-delay: 1s;
}

.fadeIn2 {
    animation: fadeIn 0.5s forwards;
    animation-delay: 1.5s;
}

.fadeIn3 {
    animation: fadeIn 0.5s forwards;
    animation-delay: 2s;
}

.fadeIn4 {
    animation: fadeIn 0.5s forwards;
    animation-delay: 2.5s;
}

.fadeIn5 {
    animation: fadeIn 0.5s forwards;
    animation-delay: 3s;
}

.barDown {
    animation: barChange 2s forwards;
    animation-delay: 0.5s;
}

.barUp {
    animation: barChange 2s forwards;
    animation-delay: 1s;
}

#bar,
#number {
    animation-timing-function: ease;
}

#btn_p1 {
    width: 125px;
    height: 50px;
    left: -11px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p2 {
    width: 115px;
    height: 50px;
    left: 112px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p3 {
    width: 105px;
    height: 50px;
    left: 227px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p4 {
    width: 97px;
    height: 50px;
    left: 330px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p5 {
    width: 96px;
    height: 50px;
    left: 426px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p6 {
    width: 95px;
    height: 50px;
    left: 521px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p7 {
    width: 59px;
    height: 50px;
    left: 613px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p8 {
    width: 114px;
    height: 50px;
    left: 672px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

@keyframes barChange {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}