.prev-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/prev-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 805px;
}

.next-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/next-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 850px;
}

#bar1a {
    background: url(../images/bar-1a.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 208px;
    height: 179px;
    left: 114px;
    top: 281px;
    position: absolute;
}

#bar1b {
    background: url(../images/bar-1b.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 137px;
    height: 44px;
    left: 199px;
    top: 416px;
    position: absolute;
}

#bar2a {
    background: url(../images/bar-2a.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 208px;
    height: 179px;
    left: 509px;
    top: 281px;
    position: absolute;
}

#bar2b {
    background: url(../images/bar-2b.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 137px;
    height: 22px;
    left: 593px;
    top: 438px;
    position: absolute;
}

#btn_p1 {
    width: 125px;
    height: 50px;
    left: -11px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p2 {
    width: 115px;
    height: 50px;
    left: 112px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p3 {
    width: 105px;
    height: 50px;
    left: 227px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p4 {
    width: 97px;
    height: 50px;
    left: 330px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p5 {
    width: 96px;
    height: 50px;
    left: 426px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p6 {
    width: 95px;
    height: 50px;
    left: 521px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p7 {
    width: 59px;
    height: 50px;
    left: 613px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p8 {
    width: 114px;
    height: 50px;
    left: 672px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#bar {
    background: url(../images/bar.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 107px;
    height: 175px;
    left: 172px;
    top: 281px;
    position: absolute;
}

#bar2 {
    background: url(../images/bar.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 107px;
    height: 175px;
    left: 709px;
    top: 281px;
    position: absolute;
}

#word1 {
    background: url(../images/word1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#word2 {
    background: url(../images/word2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#word3 {
    background: url(../images/word3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#word4 {
    background: url(../images/word4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#word5 {
    background: url(../images/word5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#drop-arrow {
    background: url(../images/drop-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    z-index: -100;
}

.arrowMoveDown {
    animation: arrowMoveDown 1.5s forwards;
    animation-delay: 3s;
}

@keyframes arrowMoveDown {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

#num1 {
    background: url(../images/num-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#num2 {
    background: url(../images/num-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1.5s forwards;
    animation-delay: 2.5s;
}

.fadeIn2 {
    animation: fadeIn 1.5s forwards;
    animation-delay: 3.5s;
}

.fadeIn_now {
    animation: fadeIn 1.5s forwards;
    animation-delay: 1s;
}

.barDown {
    animation: barChange 2s forwards;
    animation-delay: 1s;
}

.barUp {
    animation: barChange 2s forwards;
    animation-delay: 1s;
}

.barUp2 {
    animation: barChange 2s forwards;
    animation-delay: 3s;
}

#bar,
#number {
    animation-timing-function: ease;
}

@keyframes barChange {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}