.prev-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/prev-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 840px;
}


/* 
.next-btn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: url(../images/next-btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 7px;
    left: 885px;
} */

#bar {
    background: url(../images/bar.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 107px;
    height: 175px;
    left: 172px;
    top: 281px;
    position: absolute;
}

#btn_p1 {
    width: 125px;
    height: 50px;
    left: -11px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p2 {
    width: 115px;
    height: 50px;
    left: 112px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p3 {
    width: 105px;
    height: 50px;
    left: 227px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p4 {
    width: 97px;
    height: 50px;
    left: 330px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p5 {
    width: 96px;
    height: 50px;
    left: 426px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p6 {
    width: 95px;
    height: 50px;
    left: 521px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p7 {
    width: 59px;
    height: 50px;
    left: 613px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#btn_p8 {
    width: 114px;
    height: 50px;
    left: 672px;
    top: 718px;
    position: absolute;
    z-index: 5;
    transform: skew(22deg, 0deg);
}

#bar2 {
    background: url(../images/bar.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleY(0);
    /* Key to change direction */
    transform-origin: bottom;
    width: 107px;
    height: 175px;
    left: 709px;
    top: 281px;
    position: absolute;
}

#word {
    background: url(../images/word.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#drop-arrow {
    background: url(../images/drop-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    z-index: -100;
}

.arrowMoveDown {
    animation: arrowMoveDown 1.5s forwards;
    animation-delay: 3s;
}

@keyframes arrowMoveDown {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

#barTable {
    background: url(../images/chart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#picture {
    background: url(../images/picture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#sticker {
    background: url(../images/sticker.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#number {
    background: url(../images/number.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
}

#word-2 {
    position: absolute;
    width: 334px;
    bottom: 541px;
    opacity: 0;
    left: 82px;
    animation: fadeInLeft2 0.5s forwards;
    animation-delay: 0.4s;
}

#point-1 {
    background: url(../images/point-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

#point-1-arrow {
    background: url(../images/point-1-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeInDown2 0.5s forwards;
    animation-delay: 0.5s;
    opacity: 0;
    /* fadeInDown */
}

#point-2 {
    background: url(../images/point-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

#point-2-arrow {
    background: url(../images/point-2-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeInUp2 0.5s forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

#point-3-arrow {
    background: url(../images/point-3-arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeInUp2 0.5s forwards;
    animation-delay: 0.9s;
    opacity: 0;
}

#point-3 {
    background: url(../images/point-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.9s;
    opacity: 0;
}

@-webkit-keyframes fadeInLeft2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown2 {
    from {
        top: -10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes fadeInUp2 {
    from {
        bottom: -10px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s;
}

.fadeIn_now {
    animation: fadeIn 1.5s forwards;
    animation-delay: 1s;
}

.barDown {
    animation: barChange 2s forwards;
    animation-delay: 1s;
}

.barUp {
    animation: barChange 2s forwards;
    animation-delay: 1s;
}

#bar,
#number {
    animation-timing-function: ease;
}

@keyframes barChange {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.home-btn {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    z-index: 1000;
    left: 14px;
    bottom: 11px;
}

.next-btn {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    z-index: 1000;
    right: 1px;
    bottom: 360px;
    /* border: 1px solid; */
}

.video-btn {
    position: absolute;
    display: block;
    width: 176px;
    height: 48px;
    z-index: 1000;
    right: 27px;
    /* border: 1px solid; */
    bottom: 132px;
}